<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" th:action="@{files/upload}" enctype="multipart/form-data" th:fragment="formFile">
    <label>
        Выберете институты:
        <select size="4" multiple name="institutionTitles">
            <option th:each="ins :${institutes}" th:value="${ins.getTitle()}" th:text="${ins.getTitle()}"></option>
        </select>
    </label><br>
    <label>
        Выберете группы:
        <select size="4" multiple name="groupTitles">
            <option th:each="group :${groups}" th:value="${group.getTitle()}" th:text="${group.getTitle()}"></option>
        </select>
    </label><br>
    <label>
        Выберете студентов:
        <select size="4" multiple name="usernames">
            <option
                    th:each="user :${users}"
                    th:value="${user.getUsername()}"
            >
                <span th:text="${user.getUsername()}"></span>:
                <span th:text="${user.getFullName()}"></span>
            </option>
        </select>
    </label><br>
    <label>
        Выберете файл для загрузки:
        <input type="file" name="files" multiple />
    </label><br>
    <input type="submit" value="Создать" />
</form>
</body>
</html>