<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Документы</title>
</head>
<body>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Выйти"/>
    </form>

    <h1 th:text="${username}"></h1>

    <div th:replace="fragments/formFile :: formFile"></div>

    <section th:replace="fragments/tableFilesInfo :: info(${userFiles}, 'Личные')"></section>
    <section th:replace="fragments/tableFilesInfo :: info(${groupFiles}, ${user.getGroup().getTitle()})"></section>
    <section th:replace="fragments/tableFilesInfo :: info(${institutionFiles}, ${user.getGroup().getInstitute().getTitle()})"></section>

</body>
</html>