<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Документы</title>
</head>
<body>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Выйти"/>
    </form>

    <h1 th:text="${login}"></h1>

    <h2>Submitted File</h2>
    <table>
        <tr>
            <td>OriginalFileName:</td>
            <td th:text="${file?.originalFilename}"></td>
        </tr>
        <tr>
            <td>Type:</td>
            <td th:text="${file?.contentType}"></td>
        </tr>
    </table>

    <form method="POST" th:action="@{files/upload}" enctype="multipart/form-data">
        <label>
            Выберете файл для загрузки:
            <input type="file" name="file" />
        </label>
        <input type="submit" value="Submit" />
    </form>
</body>
</html>